<nav class="secondary-nav mb-4 navbar navbar-expand-lg text-light d-none d-lg-block p-0 sticky-top primary-nav-bg-2">
    <!---->
    <div class="nav-radicalism position-relative ng-tns-c4-26 ng-star-inserted">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav  ">
                <li class="nav-item nav-item-programs-searchs" routerLink="/anshita" style="background-color: transparent;">
                    <a class="nav-link" routerLink="/anshita" routerlinkactive="selected">الرئيسية</a>
                </li>
                <li class="nav-item nav-item-programs-searchs" routerLink="anshitat-qadima" style="background-color: transparent;">
                    <a class="nav-link" routerLink="anshitat-qadima">أنشطة قادمة</a>
                </li>
                <li class="nav-item nav-item-reports" routerLink="anshitat-sabiqa" style="background-color: transparent;">
                    <a class="nav-link" routerLink="anshitat-sabiqa">أنشطة سابقة</a>
                </li>
                <li class="nav-item nav-item-programs-searchs" routerLink="masharie-bahathiyat-qadima" style="background-color: transparent;">
                    <a class="nav-link" routerLink="masharie-bahathiyat-qadima">مشاريع بحثية قادمة</a>
                </li>
                <li class="nav-item nav-item-reports" routerLink="masharie-bahathiyat-sabiqa" style="background-color: transparent;">
                    <a class="nav-link" routerLink="masharie-bahathiyat-sabiqa">مشاريع بحثية سابقة</a>
                </li>
            </ul>
        </div>
        </div>
        <!---->
        
</nav>