<section  class="mt-3 mb-3">
    <div  class="container-wrapper m-sec">
        <div  class="d-flex aling-items-center d-flex justify-content-between top-content">
            <h5  class="m-0 font-weight-bold title-acceuil ">{{titrecat}}</h5>
        </div>
        <div  class="separator">
            <div  class="progress bg-acceuil"></div>
        </div>
        <div  class="row publish-part-3">
            <div  class="xcol-1 col-sm-6 col-lg-4 p-1">
                <img  alt="" class="img-fluid" height="220" src="https://via.placeholder.com/275x200/ddd" width="624">
                <div  class="post-detail mt-1">
                    <p  class="m-0 text-time">
                        <span  class="icon-user"></span>
                        <span  class="ng-tns-c11-2">أنس بومدين</span>
                        <span  class="icon-clock d-inline-block ml-2 mr-0"></span>
                        <span  class="ng-tns-c11-2">Oct 6, 2016 </span>
                    </p>
                    <h3  class=" mt-1 mb-1 pointer"><b >عنوان المقال: الموقع الجديد مؤمنون بلا حدود</b></h3>
                </div>
            </div>
            <div  class="xcol-2 col-sm-6 col-lg-4 p-1">
                <!---->
                <div  class="media mb-1 ng-star-inserted">
                    <img  alt="Generic placeholder image" class="img-body" src="https://via.placeholder.com/275x200/ddd" width="110">
                    <div  class="media-body">
                        <p  class="m-0 text-time">
                            <span  class="icon-clock d-inline-block"></span>
                            <span  class="ng-tns-c11-2">Oct 6, 2016 </span>
                        </p>
                        <h5  class="mt-0">عنوان المقال: الموقع الجديد مؤمنون بلا حدود</h5>
                    </div>
                </div>
                <div  class="media mb-1 ng-star-inserted">
                    <img  alt="Generic placeholder image" class="img-body" src="https://via.placeholder.com/275x200/ddd" width="110">
                    <div  class="media-body">
                        <p  class="m-0 text-time">
                            <span  class="icon-clock d-inline-block"></span>
                            <span  class="ng-tns-c11-2">Oct 6, 2016 </span>
                        </p>
                        <h5  class="mt-0">عنوان المقال: الموقع الجديد مؤمنون بلا حدود</h5>
                    </div>
                </div>
                <div  class="media mb-1 ng-star-inserted">
                    <img  alt="Generic placeholder image" class="img-body" src="https://via.placeholder.com/275x200/ddd" width="110">
                    <div  class="media-body">
                        <p  class="m-0 text-time">
                            <span  class="icon-clock d-inline-block"></span>
                            <span  class="ng-tns-c11-2">Oct 6, 2016 </span>
                        </p>
                        <h5  class="mt-0">عنوان المقال: الموقع الجديد مؤمنون بلا حدود</h5>
                    </div>
                </div>
                <div  class="media mb-1 ng-star-inserted">
                    <img  alt="Generic placeholder image" class="img-body" src="https://via.placeholder.com/275x200/ddd" width="110">
                    <div  class="media-body">
                        <p  class="m-0 text-time">
                            <span  class="icon-clock d-inline-block"></span>
                            <span  class="ng-tns-c11-2">Oct 6, 2016 </span>
                        </p>
                        <h5  class="mt-0">عنوان المقال: الموقع الجديد مؤمنون بلا حدود</h5>
                    </div>
                </div>
                <div  class="media mb-1 ng-star-inserted">
                    <img  alt="Generic placeholder image" class="img-body" src="https://via.placeholder.com/275x200/ddd" width="110">
                    <div  class="media-body">
                        <p  class="m-0 text-time">
                            <span  class="icon-clock d-inline-block"></span>
                            <span  class="ng-tns-c11-2">Oct 6, 2016 </span>
                        </p>
                        <h5  class="mt-0">عنوان المقال: الموقع الجديد مؤمنون بلا حدود</h5>
                    </div>
                </div>
            </div>
            <div  class="xcol-3 col-12 col-lg-4 p-1">
                <div  class="d-flex flex-wrap">
                    <!---->
                    <div  class="media mb-1 item ng-star-inserted">
                        <img  alt="Generic placeholder image" class="img-body" src="https://via.placeholder.com/275x200/ddd" width="110">
                        <div  class="media-body">
                            <p  class="m-0 text-time">
                                <span  class="icon-clock d-inline-block"></span>
                                <span  class="ng-tns-c11-2">Oct 6, 2016 </span>
                            </p>
                            <h5  class="mt-0">عنوان المقال: الموقع الجديد مؤمنون بلا حدود</h5>
                        </div>
                    </div>
                    <div  class="media mb-1 item ng-star-inserted">
                        <img  alt="Generic placeholder image" class="img-body" src="https://via.placeholder.com/275x200/ddd" width="110">
                        <div  class="media-body">
                            <p  class="m-0 text-time">
                                <span  class="icon-clock d-inline-block"></span>
                                <span  class="ng-tns-c11-2">Oct 6, 2016 </span>
                            </p>
                            <h5  class="mt-0">عنوان المقال: الموقع الجديد مؤمنون بلا حدود</h5>
                        </div>
                    </div>
                    <div  class="media mb-1 item ng-star-inserted">
                        <img  alt="Generic placeholder image" class="img-body" src="https://via.placeholder.com/275x200/ddd" width="110">
                        <div  class="media-body">
                            <p  class="m-0 text-time">
                                <span  class="icon-clock d-inline-block"></span>
                                <span  class="ng-tns-c11-2">Oct 6, 2016 </span>
                            </p>
                            <h5  class="mt-0">عنوان المقال: الموقع الجديد مؤمنون بلا حدود</h5>
                        </div>
                    </div>
                    <div  class="media mb-1 item ng-star-inserted">
                        <img  alt="Generic placeholder image" class="img-body" src="https://via.placeholder.com/275x200/ddd" width="110">
                        <div  class="media-body">
                            <p  class="m-0 text-time">
                                <span  class="icon-clock d-inline-block"></span>
                                <span  class="ng-tns-c11-2">Oct 6, 2016 </span>
                            </p>
                            <h5  class="mt-0">عنوان المقال: الموقع الجديد مؤمنون بلا حدود</h5>
                        </div>
                    </div>
                    <div  class="media mb-1 item ng-star-inserted">
                        <img  alt="Generic placeholder image" class="img-body" src="https://via.placeholder.com/275x200/ddd" width="110">
                        <div  class="media-body">
                            <p  class="m-0 text-time">
                                <span  class="icon-clock d-inline-block"></span>
                                <span  class="ng-tns-c11-2">Oct 6, 2016 </span>
                            </p>
                            <h5  class="mt-0">عنوان المقال: الموقع الجديد مؤمنون بلا حدود</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>