<footer >
    <div  class="d-flex flex-wrap">
    <div  class="xcol-1  border-xcol flex-grow-1 p-1">
    <ul  class="list-unstyled p-0 text-white">
        <li  class="logo">
        <img  alt="" class="img-fluid" src="../assets/img/logo-footer.png" width="229">
    </li>
        <li  class="social-media">
            <ul  class="list-unstyled d-flex">
                <li >
                <span  class="icon-facebook"></span>
            </li>
                <li >
                    <span  class="icon-twitter"></span>
                </li>
                <li >
                    <span  class="icon-youtube-play"></span>
                </li>
                <li >
                    <span  class="icon-instagram"></span>
                </li>
            </ul>
        </li>
        <li  class="newsletter">
            <form >
                <input  class="email" id="" name="email" placeholder="البريد الإلكتروني" type="email">
                <button ></button>
            </form>
        </li>
        <li  class="copyright p-3">جميع الحقوق محفوضة ©2019</li>
    </ul>
</div>
<section  class="xcol-2  border-xcol"
><h6 >مواقع المؤسسة:</h6>
    <ul  class="list-unstyled items">
    <li >
    <a  href="">مكتبة مؤمنون بلاحدود الإلكترونية</a>
</li>
    <li >
        <a  href="">تقرير الحالة الدينية</a>
    </li>
    <li >
        <a  href="">تطبيق دراسة ظاهرة التظرف</a>
    </li>
</ul>
</section>
    <section  class="xcol-3  border-xcol">
        <h6 >أقسام :</h6>
        <ul  class="list-unstyled items">
            <li >
            <a  href="">قسم الدراسات الراديكالية</a>
        </li>
            <li >
                <a  href="">قسم الدراسات الثقافية والفكرية</a>
            </li>
            <li >
                <a  href="">إصدارات</a>
            </li>
            <li >
                <a  href="">قسم أنشطة</a>
            </li>
            <li >
                <a  href="">الميديا</a>
            </li>
        </ul>
        </section>
        <section  class="xcol-4  border-xcol flex-grow-1 text-white">
            <h6 >تواصل معنا: </h6>
            <p  class="m-0">تقاطع زنقة واد بهت و شارع فال ولد عمير- عمارة 32</p>
            <p  class="m-0">الرباط -أكدال</p>
            <p  class="m-0">ص.ب: 11266</p>
            <br ><p  class="m-0">هاتف: 00212537779954</p>
            <br ><p  class="m-0">فاكس: 00212537778827</p>
            <br ><p  class="m-0">بريد إلكتروني: info@mominoun.com</p>
        </section>
    </div>
        <div  class="d-flex flex-wrap" style="background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;">
            <ul  class="mobile d-none list-unstyled p-0 d-sm-flex m-0 p-2 ">
                <li >
                <a  class="text-white" href="">الاتصال</a>
            </li>
            <li >
                <a  class="text-white" href="">لمحة عن المؤسسة</a>
            </li>
            <li >
                <a  class="text-white" href="">الرؤية والرسالة والأهداف</a>
            </li>
                <li >
                    <a  class="text-white" href="">الرئيسية</a>
                </li>
            </ul>
                <div  class="mobile d-none list-unstyled p-0 d-sm-flex m-0 p-2" style="flex-grow: 1">
                    <p  class="m-0 w-100 text-right text-white">© Copyright Mominoun Without Borders 2019. All Rights Reserved</p>
                </div>
                <ul  class="mobile flex-grow-1  list-unstyled p-0 d-sm-none m-0 p-2">
                    <p  class="m-0 text-white text-center">© Copyright Mominoun Without Borders 2019. All Rights Reserved</p>
                </ul>
            </div>
</footer>