<div  class="p-0 primary-nav ">
    <div  class="row m-0 text-center">
        <div  class="col-2   primary-nav-bg-1 " routerLink="/" >
            <h5  class="primary-nav-nbr">01</h5>
            <article >
                <h6  class="m-0 pointer">
                    <a  class="pirmary-nav-main-item " routerLink="/">الرئيسية</a>
                </h6>
            </article>
        </div>
        <div  class="col-2   primary-nav-bg-2 " routerLink="/dirasat-wa-abhath" >
            <h5  class="primary-nav-nbr">02</h5>
            <article >
                <h6  class="m-0 pointer">
                    <a  routerLink="/dirasat-wa-abhath" routerlinkactive="router-link-active" >دراسات وأبحاث</a>
                </h6>
            </article>
        </div>
        <div  class="col-2   primary-nav-bg-3 " routerLink="/maqalat" >
            <h5  class="primary-nav-nbr">03</h5>
            <article >
                <h6  class="m-0 pointer">
                    <a  routerLink="/maqalat" routerlinkactive="router-link-active">مقالات</a>
                </h6>
            </article>
        </div>
        <div  class="col-2   primary-nav-bg-4 " routerLink="/tarjamat" >
            <h5  class="primary-nav-nbr">04</h5>
            <article >
                <h6  class="m-0 pointer">
                    <a  routerLink="/tarjamat" routerlinkactive="router-link-active" >ترجمات</a>
                </h6>
            </article>
        </div>
        <div  class="col-2   primary-nav-bg-5 " routerLink="/hiwarat" >
            <h5  class="primary-nav-nbr">05</h5>
            <article >
                <h6  class="m-0 pointer">
                    <a  routerLink="/hiwarat" routerlinkactive="router-link-active">حوارات</a>
                </h6>
            </article>
        </div>
        <div  class="col-2   primary-nav-bg-6 " routerLink="/qiraat-fi-kutob" >
            <h5  class="primary-nav-nbr">06</h5>
            <article >
                <h6  class="m-0 pointer">
                    <a  routerLink="/qiraat-fi-kutob">قراءات في كتب</a>
                </h6>
            </article>
        </div>
        <div  class="col-2   primary-nav-bg-7 " routerLink="/isdarat" >
            <h5  class="primary-nav-nbr">07</h5>
            <article >
                <h6  class="m-0 pointer">
                    <a  routerLink="/isdarat" >إصدارات</a>
                </h6>
            </article>
        </div>
        <div  class="col-2   primary-nav-bg-8 " routerLink="/media" >
            <h5  class="primary-nav-nbr">08</h5>
            <article >
                <h6  class="m-0 pointer">
                    <a  routerLink="/media" >مؤمنون مديا</a>
                </h6>
            </article>
        </div>
        <div  class="col-2   primary-nav-bg-9 "  routerLink="/anshita">
            <h5  class="primary-nav-nbr">09</h5>
            <article >
                <h6  class="m-0 pointer">
                    <a routerLink="/anshita" >أنشطة</a>
                </h6>
            </article>
        </div>
        <div  class="col-2   primary-nav-bg-10 " routerlink="activities" >
            <h5  class="primary-nav-nbr">10</h5>
            <article >
                <h6  class="m-0 pointer">
                    <a  routerlink="activities" routerlinkactive="router-link-active" href="/activities">بث مباشر</a>
                </h6>
            </article>
        </div>
    </div>
</div>