<section class="m-sec">
    <h5 class="m-0 font-weight-bold title-section title-acceuil">للـنـشــر معنـا</h5>
    <div class="mb-2"></div>
    <div class="row m-0 p-0 publish-part-1">
        <div class="col-6 col-md-4 p-0">
            <div class="item bg-danger" style="background: url('https://via.placeholder.com/275x200/ddd') ">
                <h6 class="text-white  position-absolute">عنوان المقال: الموقع الجديد مؤمنون بلا حدود </h6>
            </div>
        </div>
        <div class="col-6 col-md-4 p-0">
            <div class="item bg-primary" style="background: url('https://via.placeholder.com/275x200/ddd') ">
                <h6 class="text-white  position-absolute">عنوان المقال: الموقع الجديد مؤمنون بلا حدود</h6>
            </div>
        </div>
        <div class="col-12 col-md-4 p-0">
            <div class="item bg-dark" style="background: url('https://via.placeholder.com/275x200/ddd') ">
                <h6 class="text-white  position-absolute">عنوان المقال: الموقع الجديد مؤمنون بلا حدود</h6>
            </div>
        </div>
    </div>
    <ul class="list-unstyled type-publish p-0">
        <li class="selected">
            <a href="">مواصفات النشر</a>
        </li>
        <li _ngcontent-c17="">
            <a href="">شروط النشر</a>
        </li>
        <li _ngcontent-c17="">
            <a href="">الإستمارات والنماذج</a>
        </li>
    </ul>
</section>