<!-- Page Content -->
<section class="container mb-5" style="display: flex;">
  
    <div class="row text-center col-12 col-md-8 mb-2">

        <app-tarjamatlist [titre]="'مكتبة الصور'" [paginate]="true"></app-tarjamatlist>

    </div>
    
    <div  class="col-lg-4 col-md-4 col-sm-12 side-left">
        <app-widget-image [title1]="'مؤمنون ميديا'" [color1]="'section_title section_title_acceuil'" ></app-widget-image>

        <app-widget-media1 [title1]="'مكتبة الصور'" [color1]="'section_title section_title_acceuil'"></app-widget-media1>
        <!-- widget Image -->
    </div>

</section>
  <!-- /.container -->