p .marker {
    display: inline-block;
    padding: 0px 4px;
    margin: 0px 5px;
    background: #e15111;
    border-radius: 2px;
    -moz-border-radius: 2px;
    color: #fff;
    font-weight: bold;
}
.block-content {
    padding: 15px;
    background: #f5f5f5;
}
p {
    display: block;
    margin-bottom: 15px;
}