<app-secondry-nav></app-secondry-nav>
<article class="container">
    <h2  class="section_title section_title_acceuil m-2">الرؤية والرسالة والأهداف</h2>
    <div class="block-content main-article" style="text-align:justify;">
								
        <h3>مجالنا</h3>

        <p>
        <span class="marker" style="background-color: #e15111;">مؤسسة دراسات وأبحاث</span>: تسهم في خلق فضاء معرفي حر ومبدع لنقاش قضايا التجديد والإصلاح الديني في المجتمعات العربية والإسلامية، وتعمل على تحقيق رؤية إنسانية للدين منفتحة على آفاق العلم والمعرفة ومكتسبات الإنسان الحضارية، وخلق تيار فكري يؤمن بأهلية الإنسان وقدرته على إدارة حياته ومجتمعاته متخطياً الوصايات الإيديولوجية أو العقائدية.</p>
        

        <h3>مبادئنا</h3>
        
        <p>أنّ الإنسان أوسع من أن تُختصَر خيريته في دينٍ أو مذهبٍ أو طائفةٍ أو عرق، وأن كرامة الإنسان وسعادته تكمن في احترام حريته في التفكير والتعبير والاعتقاد، وتقوم على إعلاء قيَم التنوع الثقافي والحضاري وعدم التمييز على أساس الدين أو العرق أو اللون.</p>
        
        <h3>قناعاتنا</h3>
        
        <p>أن الرؤى الشمولية أياً كان مصدرها؛ لا تنسجم مع اختلاف الشعوب والأمم وتنوع الثقافات وتعددها، وتنتهك أولى مسلمات الوجود الإنساني وهو الاحترام المطلق للعيش المشترك على أرض واحدة، وأن انتهاك مبادئ حرية وحقوق الإنسان وأطر الاجتماع المدني تحت أي مبرر كان؛ قد تسبب بمعاناة مباشرة وغير مباشرة، وخسائر فادحة وحروب وصراعات، وكراهية بين الأمم والشعوب، وأن احترام ثقافة الآخر وذاته والدفاع عنها وصونها، هو حماية لذاتنا ولهويتنا الإنسانية، وضمانٌ لأمننا وحريتنا.</p>
        
        <h3>إيمانٌ بلا حدود</h3>
        
        <p>يتعالى على التحيزاتِ والفوارق العقائديةِ والعرقيةِ والثقافية والدينية والمذهبية والطائفية، إيمان يتمثّل قيم الخير والجمال والمحبة بأرقى معانيها، ويدفع بالإنسان للسعي نحو هذا التعالي في حركته وفكره وسلوكه، ويزرع فيه الثقة بقدرته على الانفتاح على مختلف الثقافات الإنسانية، وأن هذا الإيمان اللامحدود وضمير الإنسان الأخلاقي كفيلان بمساندة رشده العقلي وحراكه المعرفي من أجل بناء حضارته الإنسانية والنهوض بمجتمعه والارتقاء به.</p>
        
            <h3>أهدافنا</h3>
            
                <p>تهيئة الفرصة والبيئة الملائمة والدعم الذي يتيح لمختلف أنماط التعدد الفكريّ والثقافيّ ذي الطابع العقلانيّ والعلميّ أن تتفاعل فيما بينها وتتآلف جهودها، تعزيز الدراسات والبحوث النقديّة والتحليلية لموروثنا الديني، تفكيكِ الأُسس والقواعدِ الفكريةِ لظواهر الفكر والثقافة المغلقة والإقصائية، دعم الدراسات والبحوث الاجتماعية والفكرية والدينية القائمة على أسسٍ علميةٍ وعقلانية، بناء الكفاءات العلمية والكوادر البحثية القادرة على البحث العلمي في قضايا التجديد والإصلاح الثقافي والديني بشكلٍ مُعمقٍ ورصين، تنسيق ودعم التواصل والتعاون بين الباحثين والمفكرين والمؤسسات الذين تتقاطع اهتماماتهم وأعمالهم مع رسالة المؤسسة، إيصالُ صوت التيار التجديديّ الجادِّ لمختلف الشرائح الاجتماعية.</p>


    <!-- END .block-content -->
    </div>
</article>