<section class="mt-3 mb-3 sec-list-6">
    <div  class="container-wrapper m-sec">
    <div  class="d-flex aling-items-center d-flex justify-content-between top-content">
        <h5  class="m-0 text-move font-weight-bold">{{title01}}</h5>
    </div>
    <div  class="separator">
        <div  class="progress bg-radicalism"></div>
    </div>
    <div  class="row">
            <div  class=" p-2">
                <div  class="row ng-trigger ng-trigger-listAnimation">
                    <!---->
                    <div  class="col-6 col-sm-4 p-2 " style="margin-bottom: 15px;">
                        <div  class="border-bottom">
                            <div class="auth-desc">
                                <img  class="img-fluid auth-img rounded-circle " src="..\assets\img\002.jpg">
                                <h6  class="text-danger font-weight-bold mt-2">
                                    <a  href="">اسم المؤلف</a>
                                </h6>
                            </div>
                            <img  class="d-inline-block img-fluid" width="300" src="http://via.placeholder.com/318x212/1600" alt="عنوان المقال: الموقع الجديد مؤمنون بلا حدود">
                            <div  class="media-body">
                                <div  class="text-time">
                                    <span  class="icon-clock"></span>  Oct 2, 2016 
                                </div>
                                <h5  class="m-0 text-dark m-post-title">عنوان المقال: الموقع الجديد مؤمنون بلا حدود</h5>
                                <p> لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور... </p>
                            </div>
                        </div>
                    </div>
                    <!---->
                    <div  class="col-6 col-sm-4 p-2 " style="margin-bottom: 15px;">
                        <div  class="border-bottom">
                            <div class="auth-desc">
                                <img  class="img-fluid auth-img rounded-circle " src="..\assets\img\002.jpg">
                                <h6  class="text-danger font-weight-bold mt-2">
                                    <a  href="">اسم المؤلف</a>
                                </h6>
                            </div>
                            <img  class="d-inline-block img-fluid" width="300" src="http://via.placeholder.com/318x212/1600" alt="عنوان المقال: الموقع الجديد مؤمنون بلا حدود">
                            <div  class="media-body">
                                <div  class="text-time">
                                    <span  class="icon-clock"></span>  Oct 2, 2016 
                                </div>
                                <h5  class="m-0 text-dark m-post-title">عنوان المقال: الموقع الجديد مؤمنون بلا حدود</h5>
                                <p> لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور... </p>
                            </div>
                        </div>
                    </div><!---->
                    <div  class="col-6 col-sm-4 p-2 " style="margin-bottom: 15px;">
                        <div  class="border-bottom">
                            <div class="auth-desc">
                                <img  class="img-fluid auth-img rounded-circle " src="..\assets\img\002.jpg">
                                <h6  class="text-danger font-weight-bold mt-2">
                                    <a  href="">اسم المؤلف</a>
                                </h6>
                            </div>
                            <img  class="d-inline-block img-fluid" width="300" src="http://via.placeholder.com/318x212/1600" alt="عنوان المقال: الموقع الجديد مؤمنون بلا حدود">
                            <div  class="media-body">
                                <div  class="text-time">
                                    <span  class="icon-clock"></span>  Oct 2, 2016 
                                </div>
                                <h5  class="m-0 text-dark m-post-title">عنوان المقال: الموقع الجديد مؤمنون بلا حدود</h5>
                                <p> لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور... </p>
                            </div>
                        </div>
                    </div><!---->
                    <div  class="col-6 col-sm-4 p-2 " style="margin-bottom: 15px;">
                        <div  class="border-bottom">
                            <div class="auth-desc">
                                <img  class="img-fluid auth-img rounded-circle " src="..\assets\img\002.jpg">
                                <h6  class="text-danger font-weight-bold mt-2">
                                    <a  href="">اسم المؤلف</a>
                                </h6>
                            </div>
                            <img  class="d-inline-block img-fluid" width="300" src="http://via.placeholder.com/318x212/1600" alt="عنوان المقال: الموقع الجديد مؤمنون بلا حدود">
                            <div  class="media-body">
                                <div  class="text-time">
                                    <span  class="icon-clock"></span>  Oct 2, 2016 
                                </div>
                                <h5  class="m-0 text-dark m-post-title">عنوان المقال: الموقع الجديد مؤمنون بلا حدود</h5>
                                <p> لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور... </p>
                            </div>
                        </div>
                    </div><!---->
                    <div  class="col-6 col-sm-4 p-2 " style="margin-bottom: 15px;">
                        <div  class="border-bottom">
                            <div class="auth-desc">
                                <img  class="img-fluid auth-img rounded-circle " src="..\assets\img\002.jpg">
                                <h6  class="text-danger font-weight-bold mt-2">
                                    <a  href="">اسم المؤلف</a>
                                </h6>
                            </div>
                            <img  class="d-inline-block img-fluid" width="300" src="http://via.placeholder.com/318x212/1600" alt="عنوان المقال: الموقع الجديد مؤمنون بلا حدود">
                            <div  class="media-body">
                                <div  class="text-time">
                                    <span  class="icon-clock"></span>  Oct 2, 2016 
                                </div>
                                <h5  class="m-0 text-dark m-post-title">عنوان المقال: الموقع الجديد مؤمنون بلا حدود</h5>
                                <p> لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور... </p>
                            </div>
                        </div>
                    </div><!---->
                    <div  class="col-6 col-sm-4 p-2 " style="margin-bottom: 15px;">
                        <div  class="border-bottom">
                            <div class="auth-desc">
                                <img  class="img-fluid auth-img rounded-circle " src="..\assets\img\002.jpg">
                                <h6  class="text-danger font-weight-bold mt-2">
                                    <a  href="">اسم المؤلف</a>
                                </h6>
                            </div>
                            <img  class="d-inline-block img-fluid" width="300" src="http://via.placeholder.com/318x212/1600" alt="عنوان المقال: الموقع الجديد مؤمنون بلا حدود">
                            <div  class="media-body">
                                <div  class="text-time">
                                    <span  class="icon-clock"></span>  Oct 2, 2016 
                                </div>
                                <h5  class="m-0 text-dark m-post-title">عنوان المقال: الموقع الجديد مؤمنون بلا حدود</h5>
                                <p> لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور... </p>
                            </div>
                        </div>
                    </div><!---->
                    <div  class="col-6 col-sm-4 p-2 " style="margin-bottom: 15px;">
                        <div  class="border-bottom">
                            <div class="auth-desc">
                                <img  class="img-fluid auth-img rounded-circle " src="..\assets\img\002.jpg">
                                <h6  class="text-danger font-weight-bold mt-2">
                                    <a  href="">اسم المؤلف</a>
                                </h6>
                            </div>
                            <img  class="d-inline-block img-fluid" width="300" src="http://via.placeholder.com/318x212/1600" alt="عنوان المقال: الموقع الجديد مؤمنون بلا حدود">
                            <div  class="media-body">
                                <div  class="text-time">
                                    <span  class="icon-clock"></span>  Oct 2, 2016 
                                </div>
                                <h5  class="m-0 text-dark m-post-title">عنوان المقال: الموقع الجديد مؤمنون بلا حدود</h5>
                                <p> لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور... </p>
                            </div>
                        </div>
                    </div><!---->
                    <div  class="col-6 col-sm-4 p-2 " style="margin-bottom: 15px;">
                        <div  class="border-bottom">
                            <div class="auth-desc">
                                <img  class="img-fluid auth-img rounded-circle " src="..\assets\img\002.jpg">
                                <h6  class="text-danger font-weight-bold mt-2">
                                    <a  href="">اسم المؤلف</a>
                                </h6>
                            </div>
                            <img  class="d-inline-block img-fluid" width="300" src="http://via.placeholder.com/318x212/1600" alt="عنوان المقال: الموقع الجديد مؤمنون بلا حدود">
                            <div  class="media-body">
                                <div  class="text-time">
                                    <span  class="icon-clock"></span>  Oct 2, 2016 
                                </div>
                                <h5  class="m-0 text-dark m-post-title">عنوان المقال: الموقع الجديد مؤمنون بلا حدود</h5>
                                <p> لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور... </p>
                            </div>
                        </div>
                    </div><!---->
                    <div  class="col-6 col-sm-4 p-2 " style="margin-bottom: 15px;">
                        <div  class="border-bottom">
                            <div class="auth-desc">
                                <img  class="img-fluid auth-img rounded-circle " src="..\assets\img\002.jpg">
                                <h6  class="text-danger font-weight-bold mt-2">
                                    <a  href="">اسم المؤلف</a>
                                </h6>
                            </div>
                            <img  class="d-inline-block img-fluid" width="300" src="http://via.placeholder.com/318x212/1600" alt="عنوان المقال: الموقع الجديد مؤمنون بلا حدود">
                            <div  class="media-body">
                                <div  class="text-time">
                                    <span  class="icon-clock"></span>  Oct 2, 2016 
                                </div>
                                <h5  class="m-0 text-dark m-post-title">عنوان المقال: الموقع الجديد مؤمنون بلا حدود</h5>
                                <p> لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور... </p>
                            </div>
                        </div>
                    </div>
                    </div>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item"><a class="page-link" href="#">التالي>></a></li>
                        </ul>
                      </nav>
                    </div>
                    </div>
                    </div>
                    
</section>