<app-secondry-nav></app-secondry-nav>
<article class="container">
    <h2  class="section_title section_title_acceuil m-2">الاستمارات و النماذج</h2>
    <div class="block-content main-article">
        <p><strong>لتنزيل الاستمارات، يرجى الضغط على:&nbsp;</strong></p>
        <ul class="fa-ul">
                    <li><a href="http://www.mominoun.com/word/kitab.docx " style="color:blue;">استمارة طلب نشر كتاب</a></li>
                    <li><a href="http://www.mominoun.com/word/tarjama.docx" style="color:blue;">استمارة طلب ترجمة كتاب</a></li>
                    <li><a href="http://www.mominoun.com/word/tamwil.docx" style="color:blue;">استمارة طلب تمويل كتاب&lrm;</a></li>
                    <li><a href="http://www.mominoun.com/word/istimarattalbatamwil.doc" style="color:blue;">استمارة طلب تمويل بحث </a></li>
                    <li><a href="http://www.mominoun.com/word/istimaratmocharaka.docx" style="color:blue;">استمارة مشاركة</a></li>
                    <li><a href="http://www.mominoun.com/word/itimaratmachroobahti.doc" style="color:blue;">استمارة مشروع بحث</a></li>
                    <li><a href="http://www.mominoun.com/word/marhali.docx" style="color:blue;">عناصر التقريـر المرحلــــي للمشروع البحثي</a></li>
                    <li><a href="http://www.mominoun.com/word/nihaii.docx" style="color:blue;">عناصر التقرير النهائي للمشروع البحثي</a></li>
        </ul>


    <!-- END .block-content -->
    </div>
</article>