<section  class="m-sec">
    <div  class="row">
        <div  class="col-lg-8 col-md-8 col-sm-12 side-right">
            <h2  class="section_title section_title_acceuil">تقارير</h2>
            <div  class="row">
                <div  class="w-100 text-center mt-3" hidden="">
                    <div  class="spinner-border main-color" role="status" style="width: 3rem; height: 3rem">
                        <span  class="sr-only">Loading...</span>
                    </div>
                    <p  class="text-center">جاري تحميل البيانات...</p>
                </div>
                <!---->
            </div>
        </div>
        <div  class="col-lg-4 col-md-4 col-sm-12 side-left">
            <h2  class="section_title section_title_acceuil">مختارات مومنون</h2>
            <section>
                <article  class="position-relative mb-3">
                <a  href="">
                    <img  alt="" class="img-fluid" src="https://via.placeholder.com/350x160/3498db">
                </a>
                <div  class="box-overlay position-absolute">
                    <h6  class="font-weight-bold">الحركات الجهادية في غرب الصحراء الكبرى: رمال العنف المتحركة</h6>
                    <ul  class="d-none d-lg-flex list-unstyled m-0 p-0  align-items-center">
                        <li >
                            <span  class="badge badge-dark p-2 m-1">تقارير</span>
                        </li>
                        <li >
                            <span  class="badge badge-dark p-2 m-1 pointer">كريم شفيق</span>
                        </li>
                        <li >
                            <span  class="post-date ">2017-12-07</span>
                        </li>
                    </ul>
                </div>
            </article>
            <article  class="position-relative mb-3">
                <a  href="">
                    <img  alt="" class="img-fluid" src="https://via.placeholder.com/350x160/9b59b6">
                </a>
                <div  class="box-overlay position-absolute">
                    <h6  class="font-weight-bold">هل تحولت تركيا إلى سجن كبير؟</h6>
                    <ul  class="d-none d-lg-flex list-unstyled m-0 p-0  align-items-center">
                        <li >
                            <span  class="badge badge-dark p-2 m-1">مومنون الكتب</span>
                        </li>
                        <li >
                            <span  class="badge badge-dark p-2 m-1 pointer">إبراهيم غرايبة</span>
                        </li>
                        <li >
                            <span  class="post-date ">2017-12-07</span>
                        </li>
                    </ul>
                </div>
            </article>
        </section>
        <h2  class="section_title section_title_acceuil">ميديا مومنون</h2>
        <h2  class="section_title section_title_acceuil">تابعنا على مواقع التواصل</h2>
        <h2  class="section_title section_title_acceuil">الأكثر قراءة لهذا الأسبوع</h2>
        <h2  class="section_title section_title_acceuil">اخترنا لكم</h2>
    </div>
</div>
</section>