@media screen and (min-width: 670px)
{
    .row .main-post img {
        max-height: 164px;
        vertical-align: top;
    }
    .row .main-post .post-info {
        display: inline-block;
        width: calc(100% - 294px);
    }
}