<app-secondry-nav></app-secondry-nav>
<article class="container">
    <h2  class="section_title section_title_acceuil m-2">معلومات الاتصال</h2>
    <div class="container mt-5 mb-3">
        <div class="col-md-3">
            <p>الرباط -أكدال - شارع فال ولد عمير</p>
            <p>ص.ب: 11266</p>
            <p>هاتف: <a href="tel:00212537779954">00212537779954</a></p>
            <p>فاكس: 00212537778827</p>
            <p>بريد إلكتروني: <a href="mailto:info@mominoun.com">info@mominoun.com</a></p>
        </div>
        <div class="col-md-9">
            <p>
                عناوين البريد الالكتروني لأقسام المؤسسة
            </p>
            <div id="accordion">
                <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        مكتب الإدارة والعلاقات العامة
                    </button>
                    </h5>
                </div>
            
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <a href="mailto:info@mominoun.com">info@mominoun.com</a>
                    </div>
                </div>
                </div>
                <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        قسم الدراسات والبحوث
                    </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <a href="mailto:research@mominoun.com">research@mominoun.com</a>
                    </div>
                </div>
                </div>
                <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        الكتب (للنشر والتوزيع)
                    </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        <a href="mailto:books@mominoun.com">books@mominoun.com</a>
                    </div>
                </div>
                </div>
                <div class="card">
                    <div class="card-header" id="heading4">
                        <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                            مجلة يتفكرون
                        </button>
                        </h5>
                    </div>
                    <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
                        <div class="card-body">
                            <a href="mailto:yatafakkaroun@mominoun.com">yatafakkaroun@mominoun.com</a>
                        </div>
                    </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="heading5">
                            <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                مجلة ألباب
                            </button>
                            </h5>
                        </div>
                        <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordion">
                            <div class="card-body">
                                <a href="mailto:albab@mominoun.com">albab@mominoun.com</a>
                            </div>
                        </div>
                        </div>
                        <div class="card">
                <div class="card-header" id="heading6">
                    <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                        مجلة ذوات
                    </button>
                    </h5>
                </div>
                <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordion">
                    <div class="card-body">
                        <a href="mailto:thewhat@mominoun.com">thewhat@mominoun.com</a>
                    </div>
                </div>
                </div>
                <div class="card">
                <div class="card-header" id="heading7">
                    <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                        مجلة تأويليات
                    </button>
                    </h5>
                </div>
                <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordion">
                    <div class="card-body">
                        <a href="mailto:hermoneutics@mominoun.com">hermoneutics@mominoun.com</a>
                    </div>
                </div>
                </div>
                <div class="card">
                <div class="card-header" id="heading8">
                    <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                        قسم الندوات
                    </button>
                    </h5>
                </div>
                <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#accordion">
                    <div class="card-body">
                        <a href="mailto:workshop@mominoun.com">workshop@mominoun.com</a>
                    </div>
                </div>
                </div>
                <div class="card">
                <div class="card-header" id="heading9">
                    <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                        جائزة المؤسسة السنوية
                    </button>
                    </h5>
                </div>
                <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#accordion">
                    <div class="card-body">
                        <a href="mailto:award@momioun.com">award@momioun.com</a>
                    </div>
                </div>
                </div>
                
            </div>
        </div>
    </div>
</article>