.border-bottom {
    padding-bottom: 31px;
}
.m-post-title{
    color:rgb(223, 160, 78) !important;
    font-size: 17px;
}
.media-body{
    text-align: center;
    padding-top: 8px;
}

@media (max-width: 909px){
    .auth-desc img{
        width: 18%;
        margin: -2px 15px 0px 6%;
    }
}
@media (max-width:420px) {
    .col-6{
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
}}
.btn-light{
    background-color: #273135;
}
.btn-light:hover{
    background-color: #e05111;
}