<section class="mt-3 mb-3 sec-list-6">
    <div  class="container-wrapper m-sec">
    <div  class="d-flex aling-items-center d-flex justify-content-between top-content">
        <h5  class="m-0 text-move font-weight-bold">{{titrebook}}</h5>
    </div>
    <div  class="separator">
        <div  class="progress bg-radicalism"></div>
    </div>
    <div  class="row">
            <div  class=" p-2">
                <div  class="row ng-trigger ng-trigger-listAnimation">
                    <!---->
                    <div  class="col-6 col-sm-4 p-2 " style="margin-bottom: 15px;">
                        <div  class="border-bottom">
                            
                            <img  class="d-inline-block img-fluid" width="300" src="http://via.placeholder.com/318x212/1600" alt="عنوان المقال: الموقع الجديد مؤمنون بلا حدود">
                            <div  class="media-body">
                                
                                <h5  class="m-0 text-dark m-post-title">عنوان المقال: الموقع الجديد مؤمنون بلا حدود</h5>
                                <p> لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور... </p>
                            </div>
                        </div>
                    </div><!---->
                    <div  class="col-6 col-sm-4 p-2 " style="margin-bottom: 15px;">
                        <div  class="border-bottom">
                            
                            <img  class="d-inline-block img-fluid" width="300" src="http://via.placeholder.com/318x212/1600" alt="عنوان المقال: الموقع الجديد مؤمنون بلا حدود">
                            <div  class="media-body">
                                
                                <h5  class="m-0 text-dark m-post-title">عنوان المقال: الموقع الجديد مؤمنون بلا حدود</h5>
                                <p> لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور... </p>
                            </div>
                        </div>
                    </div><!---->
                    <div  class="col-6 col-sm-4 p-2 " style="margin-bottom: 15px;">
                        <div  class="border-bottom">
                            
                            <img  class="d-inline-block img-fluid" width="300" src="http://via.placeholder.com/318x212/1600" alt="عنوان المقال: الموقع الجديد مؤمنون بلا حدود">
                            <div  class="media-body">
                                
                                <h5  class="m-0 text-dark m-post-title">عنوان المقال: الموقع الجديد مؤمنون بلا حدود</h5>
                                <p> لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور... </p>
                            </div>
                        </div>
                    </div><!---->
                    <div  class="col-6 col-sm-4 p-2 " style="margin-bottom: 15px;">
                        <div  class="border-bottom">
                            
                            <img  class="d-inline-block img-fluid" width="300" src="http://via.placeholder.com/318x212/1600" alt="عنوان المقال: الموقع الجديد مؤمنون بلا حدود">
                            <div  class="media-body">
                                
                                <h5  class="m-0 text-dark m-post-title">عنوان المقال: الموقع الجديد مؤمنون بلا حدود</h5>
                                <p> لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور... </p>
                            </div>
                        </div>
                    </div><!---->
                    <div  class="col-6 col-sm-4 p-2 " style="margin-bottom: 15px;">
                        <div  class="border-bottom">
                            
                            <img  class="d-inline-block img-fluid" width="300" src="http://via.placeholder.com/318x212/1600" alt="عنوان المقال: الموقع الجديد مؤمنون بلا حدود">
                            <div  class="media-body">
                                
                                <h5  class="m-0 text-dark m-post-title">عنوان المقال: الموقع الجديد مؤمنون بلا حدود</h5>
                                <p> لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور... </p>
                            </div>
                        </div>
                    </div><!---->
                    <div  class="col-6 col-sm-4 p-2 " style="margin-bottom: 15px;">
                        <div  class="border-bottom">
                            
                            <img  class="d-inline-block img-fluid" width="300" src="http://via.placeholder.com/318x212/1600" alt="عنوان المقال: الموقع الجديد مؤمنون بلا حدود">
                            <div  class="media-body">
                                
                                <h5  class="m-0 text-dark m-post-title">عنوان المقال: الموقع الجديد مؤمنون بلا حدود</h5>
                                <p> لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور... </p>
                            </div>
                        </div>
                    </div>
                    </div>
                    <button _ngcontent-ycd-c21="" _ngcontent-c12="" class="btn btn-light text-white title-versions btn-sm d-block m-auto w-25">المزيد...</button>
                    </div>
                    </div>
                    </div>
                    
</section>