<section  class="mt-3 mb-3 m-sec pl-0 pr-0  position-relative">
    <div  class="row m-0">
        <div  class="container-wrapper mb-3">
            <h5  class="m-0  mr-3 font-weight-bold title-section title-{{bgcolor1}}">{{titremag}}</h5>
        </div>
    </div>
    <div  class="row m-0">
        <!---->
        <div *ngFor="let item of lismagasin" class="col-6 col-md-3 col-lg-3 p-0 ng-star-inserted">
            <article >
                <img  alt="" class="img-fluid img-magasin" width="500" [defaultImage]="'assets/img/spinner/sp-lg.svg'" [lazyLoad]="item?.image">
                <h6  class="text-center title">{{ item?.title }}</h6>
            </article>
        </div>
</div>
</section>