.title-acceuil, .title-acceuil:after {
    background: #df5111;
}
.title-versions, .title-versions:after {
    background: #273135;
}
.title {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.2);
    color: #fff;
    font-weight: 500;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transition: transform .3s cubic-bezier(.25,.46,.45,.94);
    -webkit-transition: transform .3s cubic-bezier(.25,.46,.45,.94);
    -moz-transition: transform .3s cubic-bezier(.25,.46,.45,.94);
    -ms-transition: transform .3s cubic-bezier(.25,.46,.45,.94);
    -o-transition: transform .3s cubic-bezier(.25,.46,.45,.94);
    border-radius: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    -ms-border-radius: none;
    -o-border-radius: none;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
article:hover .title {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
article:hover .img-magasin {
    filter: blur(6px);
    -webkit-filter: blur(6px);
}