<nav class="secondary-nav mb-4 navbar navbar-expand-lg text-light d-none d-lg-block p-0 sticky-top primary-nav-bg-2">
    <!---->
    <div class="nav-radicalism position-relative ng-tns-c4-26 ng-star-inserted">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav  ">
                <li class="nav-item nav-item-programs-searchs" routerLink="/maqalat" style="background-color: transparent;">
                    <a class="nav-link" routerLink="/maqalat" routerlinkactive="selected">الرئيسية</a>
                </li>
                <li class="nav-item nav-item-programs-searchs" routerLink="maqalatray" style="background-color: transparent;">
                    <a class="nav-link" routerLink="maqalatray" routerlinkactive="selected">مقالات رأي</a>
                </li>
                <li class="nav-item nav-item-reports" routerLink="maqalat" style="background-color: transparent;">
                    <a class="nav-link" routerLink="maqalat" routerlinkactive="selected">مقالات</a>
                </li>
            </ul>
        </div>
        </div>
        <!---->
        
</nav>