<div class="border d-flex ml-0 mr-0 mt-3 mb-3" style="margin-right: 4% !important; width: 90%;">
    <div class="title-news"> جديد </div>
    <div class="marquee ">
        <div class="news flex-grow-1"
        ><ul class="d-flex list-unstyled text-center m-0">
            <li class=" flex-grow-1 ml-2 mr-2">
                <a href="#"> عنوان المقال: الموقع الجديد مؤمنون بلا حدود</a>
            </li>
            <li class="flex-grow-1 ml-2 mr-2">
                <a href="#"> عنوان المقال: الموقع الجديد مؤمنون بلا حدود</a>
            </li>
            <li class="flex-grow-1 ml-2 mr-2">
                <a href="#"> عنوان المقال: الموقع الجديد مؤمنون بلا حدود</a>
            </li>
            <li class="flex-grow-1 ml-2 mr-2">
                <a href="#"> عنوان المقال: الموقع الجديد مؤمنون بلا حدود</a>
            </li>
        </ul>
    </div>
</div>
</div>