<div  class="navbar-top">
  <ul  class="list-inline d-md-flex align-items-center justify-content-between m-0">
    <li  class="ticker-date">
      <a  class="ml-2 icon-login text-dark" routerlink="/login" routerlinkactive="selected" hidden="" href="/login"> تسجيل الدخول </a>
      <a  class="ml-2 icon-user-add text-dark" routerlink="/register" routerlinkactive="selected" hidden="" href="/register">إنشاء حساب</a>
      <div  class="dropdown ">
        <img  alt="" class="border rounded-circle ml-0 mr-2" width="40" src="https://library.mominoun.com/backend/storage/users/avatar_5ba182c59a53cc204dcf4d22.jpg">
        <button  aria-expanded="false" aria-haspopup="true" class="btn p-0 sm-text dropdown-toggle" data-toggle="dropdown" id="dropdownMenuButton" style="vertical-align: unset;" type="button"> Anas Boumediene </button>
        <div  aria-labelledby="dropdownMenuButton" class="dropdown-menu xs-text" style="width: 200px; position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 30px, 0px);" x-placement="bottom-start">
          <a  class="dropdown-item " routerlink="/dashboard" href="/dashboard">
            <span  class="icon-gauge text-secondary"></span> لوحة القيادة</a>
            <div  class="dropdown-divider"></div>
            <a  class="dropdown-item " routerlink="/profile" href="/profile">
              <span  class="icon-pencil text-success"></span> الملف الشخصي</a>
              <div  class="dropdown-divider"></div>
              <a  class="dropdown-item text-dark " routerlink="/logout" href="/logout">
                <span  class="icon-logout text-danger"></span> تسجيل الخروج </a>
      </div>
      
        </div>
      </li>
      <li >
        <div  class="social-icon d-flex justify-content-end" (click)="openNav()">
          <div  class=" _tooltip position-relative mr-2 ml-2 pointer">من نحن 
            <ul  class="_tooltip-box list-unstyled list-group-flush">
              <li  class="list-group-item p-0">
                <a  class="dropdown-item pointer" href="#">مجلس الأمناء</a>
              </li>
              <li  class="list-group-item p-0">
                <a  class="dropdown-item pointer" href="#">العاملون في المؤسسة</a>
              </li>
              <li  class="list-group-item p-0">
                <a  class="dropdown-item pointer" href="#">الكتاب</a>
              </li>
            </ul>
          </div>
          <div  class=" _tooltip position-relative mr-2 ml-2 pointer">مواصفات النشر 
            <ul  class="_tooltip-box list-unstyled _tooltip-box-publish list-group-flush" style="left: -39px;">
              <li  class="list-group-item p-0">
                <a  class="dropdown-item pointer" href="#">شروط النشر</a>
              </li>
              <li  class="list-group-item p-0">
                <a  class="dropdown-item pointer" href="#">الإستمارات والنماذج</a>
              </li>
            </ul>
          </div>
          <a  class="icon-facebook" href=""></a>
          <a  class="icon-youtube-play" href=""></a>
          <a  class="icon-instagram" href=""></a>
          <a  class="icon-twitter" href=""></a>
          <span  (click)="openNav()"  class="icon-menu-1 pointer d-none d-lg-inline-block ml-3 mr-0 " style="margin: 4px 16px 0px -4px; display: none;" href=""></span>
        </div>
      </li>
    </ul>
  </div>