.navbar-top{
    padding: 0 15px;
    border: 1px solid rgba(0,0,0,.1);
    border-width: 1px 0;
    color: #2c2f34;
}
._tooltip ._tooltip-box {
    visibility: hidden;
    width: auto;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border: 1px solid #ccc;
    background: #fff;
    position: absolute;
    left: -63px;
    top: 23px;
    z-index: 1;
    opacity: 0;
    transition: opacity .5s;
}
._tooltip:hover ._tooltip-box {
    visibility: visible;
    opacity: 1;
}
._tooltip ._tooltip-box::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent #ccc;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: right;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
a.dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}
.navbar-top .social-icon *{
    font-size: 12px;
    color: #000;
    text-decoration: none;
}
.navbar-top .social-icon:hover {
    font-size: 12px;
    color: #f05555;
    text-decoration: none;
}
[class^="icon-"], [class*=" icon-"] {
    margin: 4px 0 0 0;
}
@media (min-width: 992px){
.d-lg-inline-block {
    display: inline-block!important;
}}
