<section class="m-sec">
    <div class="row mt-4">
        <div class="col-12 col-md-8">
            <h3 class="section_title {{bgcolor1}} mb-4">{{title02}}</h3>
            <!---->
            <article class="item item-radicalism ng-star-inserted">
                <div class="media">
                    <img alt="Generic placeholder image" class="img-fluid img" src="https://via.placeholder.com/349x197/ddd">
                    <div class="media-body">
                        <h3 class="m-2">
                            <a class="m-0" href="">عنوان المقال: الموقع الجديد مؤمنون بلا حدود</a>
                        </h3>
                        <p class="mb-2 mt-2 text-time">
                            <span class="icon-user"></span>
                            <span class="ng-tns-c7-1">أنس بومدين</span>
                            <span class="icon-clock d-inline-block ml-2 mr-0"></span>
                            <span class="ng-tns-c7-1"> Oct 6, 2016</span>
                        </p>
                            <p> لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم سواء كانت تصاميم مطبوعه ... بروشور او فلا...</p>
                        </div>
                    </div>
                </article>
                <article class="item item-radicalism ng-star-inserted">
                    <div class="media">
                        <img alt="Generic placeholder image" class="img-fluid img" src="https://via.placeholder.com/349x197/ddd">
                        <div class="media-body">
                            <h3 class="m-2">
                                <a class="m-0" href="">عنوان المقال: الموقع الجديد مؤمنون بلا حدود</a>
                            </h3>
                            <p class="mb-2 mt-2 text-time">
                                <span class="icon-user"></span>
                                <span class="ng-tns-c7-1">أنس بومدين</span>
                                <span class="icon-clock d-inline-block ml-2 mr-0"></span>
                                <span class="ng-tns-c7-1"> Oct 6, 2016</span>
                            </p>
                                <p> لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم سواء كانت تصاميم مطبوعه ... بروشور او فلا...</p>
                            </div>
                        </div>
                    </article>
                    <article class="item item-radicalism ng-star-inserted">
                        <div class="media">
                            <img alt="Generic placeholder image" class="img-fluid img" src="https://via.placeholder.com/349x197/ddd">
                            <div class="media-body">
                                <h3 class="m-2">
                                    <a class="m-0" href="">عنوان المقال: الموقع الجديد مؤمنون بلا حدود</a>
                                </h3>
                                <p class="mb-2 mt-2 text-time">
                                    <span class="icon-user"></span>
                                    <span class="ng-tns-c7-1">أنس بومدين</span>
                                    <span class="icon-clock d-inline-block ml-2 mr-0"></span>
                                    <span class="ng-tns-c7-1"> Oct 6, 2016</span>
                                </p>
                                    <p> لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم سواء كانت تصاميم مطبوعه ... بروشور او فلا...</p>
                                </div>
                            </div>
                        </article>
                        <article class="item item-radicalism ng-star-inserted">
                            <div class="media">
                                <img alt="Generic placeholder image" class="img-fluid img" src="https://via.placeholder.com/349x197/ddd">
                                <div class="media-body">
                                    <h3 class="m-2">
                                        <a class="m-0" href="">عنوان المقال: الموقع الجديد مؤمنون بلا حدود</a>
                                    </h3>
                                    <p class="mb-2 mt-2 text-time">
                                        <span class="icon-user"></span>
                                        <span class="ng-tns-c7-1">أنس بومدين</span>
                                        <span class="icon-clock d-inline-block ml-2 mr-0"></span>
                                        <span class="ng-tns-c7-1"> Oct 6, 2016</span>
                                    </p>
                                        <p> لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم سواء كانت تصاميم مطبوعه ... بروشور او فلا...</p>
                                    </div>
                                </div>
                            </article>
                            <article class="item item-radicalism ng-star-inserted">
                                <div class="media">
                                    <img alt="Generic placeholder image" class="img-fluid img" src="https://via.placeholder.com/349x197/ddd">
                                    <div class="media-body">
                                        <h3 class="m-2">
                                            <a class="m-0" href="">عنوان المقال: الموقع الجديد مؤمنون بلا حدود</a>
                                        </h3>
                                        <p class="mb-2 mt-2 text-time">
                                            <span class="icon-user"></span>
                                            <span class="ng-tns-c7-1">أنس بومدين</span>
                                            <span class="icon-clock d-inline-block ml-2 mr-0"></span>
                                            <span class="ng-tns-c7-1"> Oct 6, 2016</span>
                                        </p>
                                            <p> لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم سواء كانت تصاميم مطبوعه ... بروشور او فلا...</p>
                                        </div>
                                    </div>
                                </article>
                                <article class="item item-radicalism ng-star-inserted">
                                    <div class="media">
                                        <img alt="Generic placeholder image" class="img-fluid img" src="https://via.placeholder.com/349x197/ddd">
                                        <div class="media-body">
                                            <h3 class="m-2">
                                                <a class="m-0" href="">عنوان المقال: الموقع الجديد مؤمنون بلا حدود</a>
                                            </h3>
                                            <p class="mb-2 mt-2 text-time">
                                                <span class="icon-user"></span>
                                                <span class="ng-tns-c7-1">أنس بومدين</span>
                                                <span class="icon-clock d-inline-block ml-2 mr-0"></span>
                                                <span class="ng-tns-c7-1"> Oct 6, 2016</span>
                                            </p>
                                                <p> لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم سواء كانت تصاميم مطبوعه ... بروشور او فلا...</p>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="item item-radicalism ng-star-inserted">
                                        <div class="media">
                                            <img alt="Generic placeholder image" class="img-fluid img" src="https://via.placeholder.com/349x197/ddd">
                                            <div class="media-body">
                                                <h3 class="m-2">
                                                    <a class="m-0" href="">عنوان المقال: الموقع الجديد مؤمنون بلا حدود</a>
                                                </h3>
                                                <p class="mb-2 mt-2 text-time">
                                                    <span class="icon-user"></span>
                                                    <span class="ng-tns-c7-1">أنس بومدين</span>
                                                    <span class="icon-clock d-inline-block ml-2 mr-0"></span>
                                                    <span class="ng-tns-c7-1"> Oct 6, 2016</span>
                                                </p>
                                                    <p> لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم سواء كانت تصاميم مطبوعه ... بروشور او فلا...</p>
                                                </div>
                                            </div>
                                        </article>
                </div>
                <div class="col-12 col-md-4">
                    <h3 class="section_title {{bgcolor1}} mb-2">الأكثر تفاعلاً</h3>
                    <h3 class="section_title {{bgcolor1}} mb-2">الأكثر تفاعلاً</h3>
                    <h3 class="section_title {{bgcolor1}} mb-2">الأكثر تفاعلاً</h3>
                    <h3 class="section_title {{bgcolor1}} mb-2">الأكثر تفاعلاً</h3>
                    <h3 class="section_title {{bgcolor1}} mb-2">الأكثر تفاعلاً</h3>
                    <h3 class="section_title {{bgcolor1}} mb-2">الأكثر تفاعلاً</h3>
                </div>
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">التالي>></a></li>
                </ul>
              </nav>
            
        </section>