<section class="d-flex bg-main align-items-center">
    <div class="">
        <ul class="list-group list-group-flush text-white pl-3 pr-3">
            <!---->
            <li class="list-group-item ng-star-inserted">
                <span> يتفكرون  </span>
            </li>
            <li class="list-group-item ng-star-inserted">
                <span> ألباب </span>
            </li>
            <li class="list-group-item ng-star-inserted">
                <span> تأويليات </span>
            </li>
            <li class="list-group-item ng-star-inserted">
                <span> ذوات </span>
            </li>
        </ul>
    </div>
    <div class="flex-grow-1 xitems" style="opacity: 1;">
        <div class="row m-0 p-0 position-relative">
            <!---->
            <div class=" col-3 ">
                <article class="">
                    <img alt="" class="img-fluid" src="https://via.placeholder.com/295x180/95a5a6">
                    <h4>عنوان المقال: الموقع الجديد مؤمنون بلا حدود</h4>
                </article>
            </div>
            <div class=" col-3">
                <article class="">
                    <img alt="" class="img-fluid" src="https://via.placeholder.com/295x180/95a5a6">
                    <h4>عنوان المقال: الموقع الجديد مؤمنون بلا حدود</h4>
                </article>
            </div>
            <div class=" col-3 ">
                <article class="">
                    <img alt="" class="img-fluid" src="https://via.placeholder.com/295x180/95a5a6">
                    <h4>عنوان المقال: الموقع الجديد مؤمنون بلا حدود</h4>
                </article>
            </div>
            <div class=" col-3">
                <article class="">
                    <img alt="" class="img-fluid" src="https://via.placeholder.com/295x180/95a5a6">
                    <h4>عنوان المقال: الموقع الجديد مؤمنون بلا حدود</h4>
                </article>
            </div>
        </div>
    </div>
</section>