<section class="container mt-3 mb-3">
    <h5 class="mb-3 font-weight-bold title-section title-acceuil">{{title}}</h5>
    <div *ngFor="let item of list" class="xcol-1 col-sm-6 col-lg-4 p-1">
        <a  href="{{item?.link}}">
            <img class="img-fluid" [defaultImage]="'assets/img/spinner/sp-lg.svg'" [lazyLoad]="item?.image" [alt]="item?.title">
        </a>
        <div  class="post-detail mt-1">
            <h5  class=" mt-1 mb-1 pointer"><b >{{item?.title}}</b></h5>
        </div>
    </div>
</section>