<section class="mt-3 mb-3 sec-list-6">
    <div  class="container-wrapper m-sec">
    <div  class="d-flex aling-items-center d-flex justify-content-between top-content">
        <h5  class="m-0 text-move font-weight-bold">{{title01}}</h5>
    </div>
    <div  class="separator">
        <div  class="progress bg-radicalism"></div>
    </div>
    <div  class="row">
            <div  class=" p-2">
                <div  class="row ng-trigger ng-trigger-listAnimation">
                    <!---->
                    <div *ngFor="let item of list | paginate: { id: 'article01', itemsPerPage: itemsPerPage, currentPage: page, totalItems: items_count }; let i= index"  class="col-6 col-sm-4 col-md-3 ng-tns-c23-4 ng-star-inserted" style="margin-bottom: 15px;">
                        <div  class="mb-2">
                            <img  class="d-inline-block img-fluid" width="300"  [defaultImage]="'assets/img/spinner/sp-lg.svg'" [lazyLoad]="item?.image" [alt]="item?.title">
                            <div class="auth-desc">
                                <img  class="img-fluid auth-img rounded-circle " src="..\assets\img\002.jpg">
                                <h6  class="text-danger font-weight-bold mt-2">
                                    <a  href=""> {{ item?.author }}</a>
                                </h6>
                            </div>
                            <div  class="media-body">
                                <div  class="text-time">
                                    <span  class="icon-clock"></span>  Oct 2, 2016 
                                </div>
                                <h5  class="m-0 text-dark m-post-title">عنوان المقال: الموقع الجديد مؤمنون بلا حدود</h5>
                            </div>
                        </div>
                    </div>
                   
                    </div>
            </div>
                    </div>
                    </div>
                    <div *ngIf="paginate">
                        <pagination-controls  id="article01" (pageChange)="getPage($event)" maxSize="8" directionLinks="true"
                        autoHide="true" responsive="true" previousLabel="السابق" nextLabel="التالي"></pagination-controls>
            
                    </div>
                    
</section>