
<app-listisdarat [titrebook]="'كتب إلكترونية'"></app-listisdarat>
<app-listisdarat [titrebook]="'كتب'"></app-listisdarat>
<app-listisdarat [titrebook]="'ترجمات'"></app-listisdarat>
<app-magasin01 [bgcolor1]="'versions'" [titremag]="'مجلة يتفكرون'"></app-magasin01>
<app-magasin01 [bgcolor1]="'versions'" [titremag]="'مجلة ألباب'"></app-magasin01>
<app-magasin01 [bgcolor1]="'versions'" [titremag]="'مجلة ذوات'"></app-magasin01>
<app-magasin01 [bgcolor1]="'versions'" [titremag]="'مجلة تأويليات'"></app-magasin01>