<nav class="secondary-nav mb-4 navbar navbar-expand-lg text-light d-none d-lg-block p-0 sticky-top primary-nav-bg-2">
    <!---->
    <div class="nav-radicalism position-relative ng-tns-c4-26 ng-star-inserted">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav  ">
                <li class="nav-item nav-item-programs-searchs" routerLink="/isdarat" style="background-color: transparent;">
                    <a class="nav-link" routerLink="/isdarat" routerlinkactive="selected">الرئيسية</a>
                </li>
                <li class="nav-item nav-item-programs-searchs" routerLink="electronia" style="background-color: transparent;">
                    <a class="nav-link" routerLink="electronia" routerlinkactive="selected">كتب إلكترونية</a>
                </li>
                <li class="nav-item nav-item-reports" routerLink="book" style="background-color: transparent;">
                    <a class="nav-link" routerLink="book" routerlinkactive="selected">كتب</a>
                </li>
                <li class="nav-item nav-item-reports the" routerLink="majalat" style="background-color: transparent;">
                    <a class="nav-link" routerLink="majalat" routerlinkactive="selected">مجلات</a>
                </li>
                <li class="nav-item nav-item-reports" routerLink="makatib-al-bayii" style="background-color: transparent;">
                    <a class="nav-link" routerLink="makatib-al-bayii" routerlinkactive="selected">مكاتب البيع</a>
                </li>
            </ul>
        </div>
        <div class="menu-content menu-content-magasins position-absolute primary-nav-bg-4 p-3">
            <app-item-menu-content></app-item-menu-content>
        </div>
        </div>
        <!---->
        
</nav>