<app-secondry-nav></app-secondry-nav>
<app-article01 [title01]="'مقالات رأي'"></app-article01>
<app-rapport01></app-rapport01>
<app-article02 [titrecat]="'مقالات'"></app-article02>
<app-slider [title01]="'تقارير'" [bgcolor1]="'title-radicalism-color'" [bgcolor2]="'bg-radicalism'"></app-slider>
<app-magasin01 [bgcolor1]="'title-acceuil'" [titremag]="'مجلة يتفكرون'"></app-magasin01>
<app-magasin01 [bgcolor1]="'title-acceuil'" [titremag]="'مجلة ألباب'"></app-magasin01>
<app-magasin01 [bgcolor1]="'title-acceuil'" [titremag]="'مجلة ذوات'"></app-magasin01>
<app-magasin01 [bgcolor1]="'title-acceuil'" [titremag]="'مجلة تأويليات'"></app-magasin01>
<app-event01></app-event01>
<app-event02 [bgcolor1]="'title-acceuil'" [title01]="'أنشطة سابقة'"></app-event02>
<app-galleryimg></app-galleryimg>
<app-list-publish></app-list-publish>